body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    background-color: #1f2937;
    gap: 50px;
}
.right-links{
    display: flex;
    gap: 15px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    margin-bottom: auto;
    width: 100%;
    height: 330px;
}
.left-items{
    display: flex;
    flex-direction: column;
    flex-basis: 295px;
    gap: 12px;
}
.item-1{
    font-weight: bolder;
    font-size: 34px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}
.item-2{
    font-size: 16px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 295px;
    background-color: gray;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    height: 30px;
    width: 85px;
    background-color: #3882f6;
    font-size: 15px;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


.container-2{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    height: 370px;
}
.top-text{
    display: flex;
    height: 70px;
    font-size: 26px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}
.mid-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    outline-style: solid;
    outline-color: #3882f6;
    border-radius: 10px;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    gap: 60px;
}
.box-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 110px;
    gap: 40px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    gap: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.container-3{
    display: flex;
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    height: 280px;
    background-color: #e5e7eb;
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 560px;
    height: 400px;
    text-align: left;
    font-size: 26px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    color: #1f2937;
}
.credit{
    display: flex;
    width: 50%;
    justify-content: center;
    height: 170px;
    align-items: flex-start;
    margin: 0;
    font-weight: bold;
    margin-left: 360px;
}
.last-container{
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    height: 220px;

}
.blue-box{
    display: flex;
    background-color: #3882f6;
    height: 100px;
    width: 730px;
    justify-content: center;
    align-items: center;
    gap: 110px;
    border-radius: 10px;
}
.text-1, .text-2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.text-1{
    font-weight: bolder;
    font-size: 20px;
    color: #f9faf8;
}
.text-2{
    font-size: 14px;
    color: #e5e7eb;
}
.button-2{
    outline-style: solid;
    outline-color: white;
    height: 30px;
    width: 85px;
    background-color: #3882f6;
    font-size: 15px;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}













.footer{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background-color: #1f2937;
    font-size: 16px;
    color: #f9faf8;
}


